html {
	font-family: 'Roboto', helvetica,sans-serif;
}

body {
	background-color: #30ba6b !important;
}

.logo {
	margin-top: 50px;
	text-align: center;
	color: white;
	font-family: 'Roboto';
}

.logo h1 {
		font-size: 100px;
		font-weight: 100;
}

.box {
	margin-top: 30px;
	padding: 10px;
	margin-left: 8%;
	background-color: white;
	-webkit-filter: drop-shadow(5px 5px 10px #222);
  	filter: drop-shadow(5px 5px 10px #222);
}

#todo {
	color: gray;
	font-weight: 300;
	font-family: 'Roboto';
	font-size: 18px;
}

#todo ul {
	margin: 20px;
	margin-left: -20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #d9d9d9;
}

a.close {
	color: red;
	opacity: 100%;
}

.formBG {
	height: 70px;
	margin-top: 30px;
	background-color: #d9d9d9;
	text-align: center;
	margin-left: 8%;
	-webkit-filter: drop-shadow(5px 5px 10px #222);
  	filter: drop-shadow(5px 5px 10px #222);
}

.form {
	display: inline-block;
	text-align: center;
}

.form-group {
	padding: 18px;
}

.btn-primary {
	width: 50px;
	margin-left: -9px;
	border: none !important;
	background-color: #30bab2 !important;
}






